@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SSTS Bug Tracker</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SSTS</h2>
        <p>
            Bug Tracker application for Safari Security Testing Services. This service allows users to log in and view tickets.
        </p>
    </div>
    
</div>